.opacityrunDiv {
    display: flex;
    color: black;
    background-image: url("../../../images/weav.jpg");
}

.firtDiv {
    background-color: blue;
    opacity: 1;
    padding: 40px;
    border: 3px solid rgb(0, 255, 76);
}
.secondDiv {
    background-color: blue;
    opacity: 0.5;
    padding: 40px;
    border: 3px solid rgb(0, 255, 76);
}
.thirdDiv {
    background-color: blue;
    opacity: 0.1;
    padding: 40px;
    border: 3px solid rgb(0, 255, 76);  
}

.firtRgbaDiv {
    background-color: rgba(0, 128, 0, 1);
    padding: 40px;
    color: white;
}

.seconRgbaDiv {
    background-color: rgba(0, 128, 0, 0.5);
    padding: 40px;
    color: white;
}
.thirdRgbaDiv {
    background-color: rgba(0, 128, 0, 0.1);
    padding: 40px;
    color: white;
}

.backgroundImageRepeat {
    background-image: url("../../../images/weav3.jpg");
    height: 500px;
}

.bgr1 {
    background-repeat: repeat-x;
}
.bgr2 {
    background-repeat: repeat-y;
}
.bgr3 {
    background-repeat: no-repeat;
}
.bgr12 {
    background-repeat: no-repeat;
    background-position: center;
}
.bgr4 {
    background-repeat: no-repeat;
    background-position: left;
}

.bgr5 {
    background-repeat: no-repeat;
    background-position: left bottom;
}

.bgr6 {
    background-repeat: no-repeat;
    background-position: right;
}
.bgr7 {
    background-repeat: no-repeat;
    background-position: right top;
}
.bgr8 {
    background-repeat: no-repeat;
    background-position: right bottom;
}
.bgr9 {
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
}
.bgr10 {
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: scroll;
}
.bgr11 {
    height: 500px;
    background-color: #8b7878;
    background-image: url('../../../images/weav3.jpg');
    background-repeat: no-repeat;
    background-position: right top;
}