.timeNewRoman {
    font-family: 'Times New Roman', Times, serif;
}

.garamond {
    font-family: garamond;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

.verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.brushScriptMt {

}

.lucidaHandwriting {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.copperplate {
    
}

.papyrus {
    
}


.p_a {
    font-family: "Times New Roman", Times, serif;
}
.p_b {
    font-family: Arial, Helvetica, sans-serif;
}
.p_c {
    font-family: "Lucida Console", "Courier New", monospace;
}