.dropdown {
    position: relative;
    display: inline-block;

    margin-bottom: 50px;
}

.dropdownButton {
    border: 1px solid red;
    padding: 5px;
}

.dropdown_content {
    display: none;
    position: absolute;
    color: black;
    background-color: #b3b3b3;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown2 {
    position: relative;
    display: inline-block;

    margin-bottom: 50px;
}

.dropdownButton2 {
    border: 1px solid red;
    padding: 5px;
}

.dropdown_content2 {
    display: none;
    position: absolute;
    color: black;
    background-color: #b3b3b3;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* padding: 12px 16px; */
    z-index: 1;
}

.dropdown_content2 a {
    display: block;
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 10px;
}

.dropdown_content2 a:hover {
    background-color: beige;
}

.dropdown2:hover .dropdown_content2 {
    display: block;
}



.image_dropdown {
    position: relative;
    display: inline-block;
}


.image_dropdown_content {
    display: none;
    position: absolute;
    background-color: beige;
    color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.image_dropdown:hover .image_dropdown_content {
    display: block;
}

.image_text {
    width: 150px;
    margin: auto;
}