.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.nav ul li {
    float: left;
    display: block;
    background-color: rgb(2, 180, 180);
    /* padding: 20px; */
    color: black;
    margin-right: 5px;
}

.link {
    padding: 40px 20px !important;
    text-decoration: none;
}